<div class="container">
  <mat-card>
    <p class="make-payment">
      <button mat-raised-button color="primary" [routerLink]="'/card-payment'">
        Make Payment
      </button>
    </p>
    <div *ngIf="(paymentData  | json) != '{}'">
      <h2>Card Details</h2>
      <ul *ngFor="let card of paymentData | keyvalue">
        <li>
          <strong>Credit Card Number: </strong>
          {{ card.value.creditCardNumber }}
        </li>
        <li><strong>Card Holder: </strong> {{ card.value.cardHolder }}</li>
        <li>
          <strong>Expiration Date: </strong> {{ card.value.expirationDate }}
        </li>
        <li *ngIf="card.value.securityCode">
          <strong>Security Code: </strong> {{ card.value.securityCode }}
        </li>
        <li><strong>Amount: </strong> {{ card.value.amount }}</li>
      </ul>
    </div>
  </mat-card>
</div>
